.eXtremeTable {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #000000;
	font-family: "ו";
}

.eXtremeTable select {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #7F9DB9;
	width: 75px;
}

.eXtremeTable .tableRegion {
	padding: 1px;
	border: 1px solid #ACA899;
}

.eXtremeTable .filter {
	background-color: #F4F4F4;
}

.eXtremeTable .filter td {
	padding: 2px;
}

.eXtremeTable .title {
	background-image: url(../images/search_end.gif);
	background-repeat: no-repeat;
	background-position: left center;
	height: 26px;
	line-height: 20px;
	width: 160px;
}
.eXtremeTable .titleRow {
	background-color: #F4F4F4;
}

.eXtremeTable .titleRow td {
	border-bottom: 1px solid #308dbb;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
	text-align: center;
}

.eXtremeTable .titleRow span {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
}

.eXtremeTable .filter input {
	border: solid 1px grey;
	padding: 1px;
}

.eXtremeTable .filter select {
	border: solid 1px #EEE;
}

.eXtremeTable .tableHeader {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#CCCAC1, EndColorStr=#ffffff);
	color: #1C4961;
	font-weight: bold;
	text-align: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #ACA899;
	border-bottom-color: #ACA899;
	border-left-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	padding-left: 5px;
	line-height: 18px;
}

.eXtremeTable .tableHeaderSort {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#CEDDEF, EndColorStr=#ffffff);
	color: #1C4961;
	font-weight: bold;
	text-align: left;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #FFFFFF;
	border-right-color: #ACA899;
	border-bottom-color: #ACA899;
	border-left-color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	text-decoration: underline;
	padding-left: 5px;
}

.eXtremeTable .odd a, .even a {
	color: Black;
	font-size: 12px;
}

.eXtremeTable .odd td, .eXtremeTable .even td {
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
}

.eXtremeTable .odd {
	background-color: #FFFFFF;
}

.eXtremeTable .even {
  	background-color: #dfe4e8;
}

.eXtremeTable .highlight td {
	color: black;
	font-size: 12px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	vertical-align: middle;
	background-color: #bcd4ec;
}

.eXtremeTable .highlight a, .highlight a {
	color: black;
	font-size: 12px;
}

.eXtremeTable .compactToolbar {
	background-color: #F4F4F4;
}

.eXtremeTable .toolbar {
	background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px solid #99BBE8;
	height: 20px;
}

.eXtremeTable .toolbar a:hover {
	background-color: transparent;
}

.eXtremeTable .toolbar td {
	color: #666666;
	padding: 0px 3px 0px 3px;
	text-align:center;
}

.eXtremeTable .separator {
	width: 7px;
}

.eXtremeTable .statusBar {
	font-size: 12px;
	color: #666666;
	background-color: #FFFFFF;
}

.eXtremeTable .filterButtons {
	background-color: #F4F4F4;
	text-align: right;
}

.eXtremeTable .title span {
	margin-left: 7px;
}

.eXtremeTable .formButtons {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
}

.eXtremeTable .formButton {
	cursor: pointer;
	font-weight: bold;
	background-color: #308dbb;
	color: white;
	margin-top: 5px;
	border: outset 1px #333;
	vertical-align: middle;
}

.eXtremeTable .calcRow {
	background-color: #F4F4F4;
}

.eXtremeTable .calcTitle {
	background-color: #F4F4F4;
	color: black;
	font-weight: bold;
}

.eXtremeTable .calcResult {
	background-color: #F4F4F4;
	color: black;
}
